<%= form_for([@emu_person, @record]) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :edan_id , "EDAN ID" %><br>
    <%= f.text_field :edan_id, size: 40 %>
  </div>

  <% unless @record.new_record? %>
      <div class="field">
        <%= f.label :image_uri %><br>
        <%= f.text_field :image_uri %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :object_type %><br>
        <%= f.text_field :object_type, :value => 'specimen' %>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
