<h1>Listing records</h1>

<table>
  <thead>
    <tr>
      <th>Edan ID</th>
      <th>Collector</th>
      <th>Description</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.edan_id %></td>
        <td><%= record.emu_person.blank? ? "invalid" : record.emu_person.full_name %></td>
        <td><%= record.description %></td>
        <td><%= record.object_type %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_emu_person_record_path(record.emu_person, record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

