<p id="notice"><%= notice %></p>

<p>
  <strong>Edan:</strong>
  <%= @record.edan_id %>
</p>

<p>
  <strong>Image uri:</strong>
  <%= @record.image_uri %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @record.type %>
</p>

<td><%= link_to 'Edit', edit_emu_person_record_path(@record.emu_person, @record) %></td>
<%= link_to 'Back', records_path %>
