<p id="notice"><%= notice %></p>
Collected by: <%= link_to @record.emu_person.full_name, emu_person_path(@record.emu_person) %>

<p>
  <strong>Full record:</strong>
  <%= link_to @record.edan_id, @record.object_url, target: "_blank" %>
</p>

<%= image_tag @record.image_uri %>

<p>
  <%= @record.description %>
</p>

<p>
  <%= @record.object_type %>
</p>

<td><%= link_to 'Edit', edit_emu_person_record_path(@record.emu_person, @record) %></td>
