<h1>Listing emu_people</h1>

<%= paginate @emu_people %>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Full name</th>
      <th>Brief name</th>
      <th>Irn</th>
    </tr>
  </thead>

  <tbody>
    <% @emu_people.each do |emu_person| %>
      <tr>
        <td><%= emu_person.count %></td>
        <td><%= link_to emu_person.full_name, emu_person %></td>
        <td><%= emu_person.brief_name %></td>
        <td><%= emu_person.irn %></td>
      </tr>
    <% end %>
  </tbody>
</table>


