<%= link_to 'Back', emu_people_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @emu_person.count %>
</p>

<p>
  <strong>Irn:</strong>
  <%= @emu_person.irn %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @emu_person.full_name %>
</p>

<p>
  <strong>Brief name:</strong>
  <%= @emu_person.brief_name %>
</p>

<% @emu_person.records.each do |record| %>
    <tr>
      <td><%= link_to record.description, record  %></td>
      <td><%= link_to 'Edit', edit_emu_person_record_path(@emu_person, record) %></td>
      <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>

<p><%= link_to 'Add Record', new_emu_person_record_path(@emu_person) %></p>




